<section class="encabezado">
  <div class="encabezado-logos">
    <a [routerLink]="['']"><img ngSrc="/assets/Captura.PNG" width="619" height="241" alt="#" class="encabezado-logos-img"></a>
  </div>
  <a class="encabezado-h3" [routerLink]="['/register-anfitrion']">Conviertete en un anfitrión</a>
  <div class="encabezado-perfil">
    <img [src]="proveedor.foto" width="60" height="60">
    <div class="encabezado-perfil-container" (click)="toggleMenuPerfil()">
      <h3 class="encabezado-perfil-container-1">inicio de sesión como:</h3>
      <h3 class="encabezado-perfil-container-2">{{proveedor.email}}</h3>
    </div>
    <div class="encabezado-perfil-menu" [class.activo]="menuPerfilActivo">
      <nav class="encabezado-perfil-menu-nav">
        <ul class="encabezado-perfil-menu-ul">
          <li><a class="Vermiperfil-a" [routerLink]="['/ver-mi-perfil', proveedor.id, proveedor.role?.name]">Ver mi perfil</a></li>
          <li><a class="CerrarSesion-a" (click)="abrirModalCerrarSesion()">Cerrar sesión</a></li>
        </ul>
      </nav>
    </div>
  </div>
</section>
<body>
<section class="menu-hamburguesa">
  <div class="menu-hamburguesa-boton" [class.desactivado]="mostrarFiltrosAvanzados" (click)="toggleMenu()">
    <img ngSrc="/assets/Menu.png" width="41" height="41" class="menu-hamburguesa-img">
  </div>
  <div class="overlay" [class.activo]="menuActivo"></div>
  <nav class="menu-hamburguesa-text">
    <ul class="menu-hamburguesa-text-1">
      <li><a class="ContratosActuales" [routerLink]="['/listar-eventos', proveedor.id]">Crear eventos</a></li>
      <li><a class="HistorialDeContratos" [routerLink]="['/historial-contratos', proveedor.id]">Historial de contratos</a></li>
      <li><a class="ConsultarReportes" [routerLink]="['/reporte-proveedor', proveedor.id]">Consultar reportes</a></li>
      <li><a class="ChatearConLaIA" href="#">Chatear con la IA</a></li>
      <li><a class="CentroDeAyuda" [routerLink]="['/centro-ayuda', proveedor.id, proveedor.role?.name]">Centro de ayuda</a></li>
    </ul>
    <ul class="menu-hamburguesa-text-2">
      <li><a class="Configuracion" [routerLink]="['/configuracion', proveedor.id, proveedor.role?.name]">Configuración</a></li>
      <li><a class="CerrarSesion" (click)="abrirModalCerrarSesion()">Cerrar sesión</a></li>
      <li><a class="legal" [routerLink]="['/legal', proveedor.id, proveedor.role?.name]">Legal</a></li>
    </ul>
  </nav>
</section>
  @if (mostrarCerrarSesion) {
    <section class="cerrar-sesion">
      <div class="overlay-cerrar-sesion"></div>
      <div class="cerrar-sesion-container" (click)="$event.stopPropagation()">
        <h1>Cerrar Sesión</h1>
        <h3>¿Estas seguro de cerrar tu sesión?</h3>
        <div class="cerrar-sesion-container-botones" (click)="cerrarSesion()">
          <button class="boton-si" (click)="confirmarCerrarSesion($event)"><a [routerLink]="['']">Sí</a></button>
          <button class="boton-no" (click)="cancelarCerrarSesion($event)">No</button>
        </div>
      </div>
    </section>
  }
  <section class="historial-contenido">
    <div class="historial-header">
      <h1 class="historial-title">Tus contratos actuales</h1>
    </div>
    @if(contratoEvento && contratoEvento.length == 0){
      <p class="ausencia-contratos">¡Aún no tiene contratos actuales!</p>
    }
    <div class="historial-scroll-container">
      <div class="historial-grid" #listaHistorial (scroll)="onScroll()">
        @for (contrato of contratoEvento; track contrato.evento.id; let i = $index) {
          <div class="evento-card" [style.opacity]="getOpacityFor(i)">
            <div class="evento-imagenes">
              <img [src]="'data:image/png;base64,'+ contrato.anfitrion.foto" class="anfitrion-img" width="">
              <div class="carrusel">
                @if (imagenesEvento[contrato.evento.id!]) {
                  @for (img of imagenesEvento[contrato.evento.id!]; track $index) {
                    <img
                      class="carrusel-img"
                      [src]="img.imagen"
                      alt="Foto de {{ contrato.evento.titulo }}"
                      [class.visible]="indices[contrato.evento.id!] === $index"
                      [class.prev]="indicePrevio[contrato.evento.id!] === $index"
                    />
                  }
                }
              </div>
            </div>
            <div class="card-contenido">
              <div class="card-header">
                <h2 class="card-titulo">{{contrato.evento.titulo}}</h2>
                <span class="card-rating">⭐ {{contrato.evento.valoracion}}</span>
              </div>
              <p class="card-subtitulo">{{contrato.evento.tipoevento.nombre}}. {{contrato.evento.descripcion}}</p>
              <p class="card-precio">S/.{{contrato.evento.presupuesto}} para {{contrato.evento.aforo}} personas</p>
              <p class="card-fecha">Contrato válido desde el {{contrato.evento.fechainicio}} hasta {{contrato.evento.fechafin}}</p>
              <p class="card-anfitrion">Para el anfitrión {{contrato.anfitrion.apellido}}, {{contrato.anfitrion.nombre}}</p>
              <p class="card-coordinar">Coordinar con el anfitrión</p>
            </div>
          </div>
        }

      </div>
      @if (contratoEvento && contratoEvento.length > 0){
        <div class="eventos-navegacion">
          <img ngSrc="/assets/Rectangle%2030.png" width="10" height="816" class="barra-1">
          <img ngSrc="/assets/Rectangle%2031.png" width="6" height="64" class="barra-2" [style.top.px]="scrollPosition" (mousedown)="onBarraMouseDown($event)">
        </div>
      }
    </div>
  </section>
</body>
