<section class="encabezado">
  <div class="encabezado-logos">
    <img ngSrc="/assets/Captura.PNG" width="619" height="241" alt="#" class="encabezado-logos-img">
  </div>
  @if (usuario.role?.name === 'ROLE_ANFITRION'){
    <div class="encabezado-buscar">
      <form [formGroup]="buscarForm" class="encabezado-buscar-formulario">
        <div class="campo-donde">
          <select id="Distrito" formControlName="Distrito" required>
            <option value="" disabled selected>Seleccione el distrito</option>
            @for (c of distrito; track c.id) {
              <option [value]="c.id">{{ c.nombre }}</option>
            }
          </select>
        </div>
        <div class="campo-aforo">
          <input id="Aforo" formControlName="Aforo" type="number" required>
          <label for="Aforo">Aforo</label>
        </div>
        <div class="campo-fecha">
          <input id="Fecha" formControlName="Fecha" type="date" required>
          <label for="Fecha">Fecha</label>
          <div class="campo-fecha-buscar" [class.invalido]="buscarForm.invalid">
            <a href="#">
              <button type="submit" [disabled]="buscarForm.invalid" (click)="buscar()"><img ngSrc="/assets/search-13-xxl%201.png" width="22" height="22" class="buscar-img" [class.invalido]="buscarForm.invalid"></button>
            </a>
          </div>
        </div>
      </form>
      <div class="encabezado-buscar-avanzada" [class.activo]="mostrarFiltrosAvanzados">
        <div class="encabezado-buscar-avanzada-container">
          <img ngSrc="/assets/icon.png" width="28" height="28" class="buscar-avanzada-img" (click)="toggleFiltrosAvanzados();">
        </div>
      </div>
    </div>
  }
  <div class="overlay-buscar-avanzada" [class.activo]="mostrarFiltrosAvanzados" (click)="cerrarFiltrosAvanzados()">
    @if (mostrarFiltrosAvanzados){
      <form [formGroup]="buscarAvanzadaForm" class="encabezado-buscar-avanzada-cuadro" (click)="$event.stopPropagation()">
        <div class="encabezado-buscar-avanzada-cuadro-inicio">
          <h3 class="encabezado-buscar-avanzada-cuadro-h3">Filtros Avanzados</h3>
          <img ngSrc="/assets/X.png" width="29" height="28" class="X" (click)="toggleFiltrosAvanzados()">
        </div>
        <div class="filtros-avanzados">
          <div class="filtros-avanzados-ubicacion">
            <div class="filtros-avanzados-ubicacion-1">
              <h3>Ubicación</h3>
              <img ngSrc="/assets/location_on.png" width="14" height="14">
            </div>
            <select id="UbicacionAvanzada" formControlName="UbicacionAvanzada" required>
              <option value="" disabled selected>Seleccione el distrito</option>
              @for (c of distrito; track c.id) {
                <option [value]="c.id">{{ c.nombre }}</option>
              }
            </select>
          </div>
          <div class="filtros-avanzados-tipoevento">
            <div class="filtros-avanzados-tipoevento-1">
              <h3>Tipo de evento</h3>
              <img ngSrc="/assets/icononpng.png" width="10" height="5">
            </div>
            <select id="TipoEventoAvanzada" formControlName="TipoEventoAvanzada" required>
              <option value="" disabled selected>Seleccione el tipo de evento</option>
              @for (c of tipoEvento; track c.id) {
                <option [value]="c.id">{{ c.nombre }}</option>
              }
            </select>
          </div>
          <div class="filtros-avanzados-fechainicio">
            <div class="filtros-avanzados-fechainicio-1">
              <h3>Fecha inicio</h3>
              <img ngSrc="/assets/Icononcalendar1.png" width="15" height="16">
            </div>
            <input formControlName="FechaInicioAvanzada" type="date" required>
          </div>
          <div class="filtros-avanzados-fechafin">
            <div class="filtros-avanzados-fechafin-1">
              <h3>Fecha fin</h3>
              <img ngSrc="/assets/Icononcalendar2.png" width="15" height="16">
            </div>
            <input formControlName="FechaFinAvanzada" type="date" required>
          </div>
          <div class="filtros-avanzados-aforo">
            <div class="filtros-avanzados-aforo-1">
              <h3>Aforo Mínimo</h3>
              <img ngSrc="/assets/icononperson.png" width="12" height="12">
            </div>
            <input formControlName="AforoAvanzadaMin" type="number" required>
          </div>
          <div class="filtros-avanzados-aforo">
            <div class="filtros-avanzados-aforo-1">
              <h3>Aforo Máximo</h3>
              <img ngSrc="/assets/icononperson.png" width="12" height="12">
            </div>
            <input formControlName="AforoAvanzadaMax" type="number" required>
          </div>
          <div class="empujar">
            <div class="filtros-avanzados-presupuesto">
              <div class="filtros-avanzados-presupuesto-1">
                <h3>Presupuesto Mínimo</h3>
                <img ngSrc="/assets/Iconondolar.png" width="9" height="16">
              </div>
              <input formControlName="PresupuestoAvanzadaMin" type="number" required>
            </div>
            <div class="filtros-avanzados-presupuesto">
              <div class="filtros-avanzados-presupuesto-1">
                <h3>Presupuesto Máximo</h3>
                <img ngSrc="/assets/Iconondolar.png" width="9" height="16">
              </div>
              <input formControlName="PresupuestoAvanzadaMax" type="number" required>
            </div>
          </div>
        </div>
        <button type="submit" [disabled]="buscarAvanzadaForm.invalid" (click)="buscarAvanzada()" class="boton-buscar">Buscar</button>
      </form>
    }
  </div>
  @if (usuario.role?.name === 'ROLE_ANFITRION'){
    <a class="encabezado-h3" [routerLink]="['/register-proveedor']">Conviertete en un proveedor</a>
  } @else {
    <a class="encabezado-h3-p" [routerLink]="['/register-anfitrion']">Conviertete en un anfitrión</a>
  }
  <div class="encabezado-perfil">
    @if (usuario.role?.name === 'ROLE_ANFITRION'){
      <img [src]="anfitrion.foto" width="60" height="60">
    } @else {
      <img [src]="proveedor.foto" width="60" height="60">
    }
    <div class="encabezado-perfil-container" (click)="toggleMenuPerfil()">
      <h3 class="encabezado-perfil-container-1">inicio de sesión como:</h3>
      @if (usuario.role?.name === 'ROLE_ANFITRION'){
        <h3 class="encabezado-perfil-container-2">{{anfitrion.email}}</h3>
      } @else {
        <h3 class="encabezado-perfil-container-2">{{proveedor.email}}</h3>
      }
    </div>
    <div class="encabezado-perfil-menu" [class.activo]="menuPerfilActivo">
      <nav class="encabezado-perfil-menu-nav">
        <ul class="encabezado-perfil-menu-ul">
          @if (usuario.role?.name === 'ROLE_ANFITRION'){
            <li><a class="Vermiperfil-a" [routerLink]="['/ver-mi-perfil', anfitrion.id, anfitrion.role?.name]">Ver mi perfil</a></li>
          } @else {
            <li><a class="Vermiperfil-a" [routerLink]="['/ver-mi-perfil', proveedor.id, proveedor.role?.name]">Ver mi perfil</a></li>
          }
          <li><a class="CerrarSesion-a" (click)="abrirModalCerrarSesion()">Cerrar sesión</a></li>
        </ul>
      </nav>
    </div>
  </div>
</section>
<body>
    <section class="menu-hamburguesa">
      <div class="menu-hamburguesa-boton" [class.desactivado]="mostrarFiltrosAvanzados" (click)="toggleMenu()">
        <img ngSrc="/assets/Menu.png" width="41" height="41" class="menu-hamburguesa-img">
      </div>
      <div class="overlay" [class.activo]="menuActivo"></div>
      @if (usuario.role?.name === 'ROLE_ANFITRION'){
        <nav class="menu-hamburguesa-text">
          <ul class="menu-hamburguesa-text-1">
            <li><a class="EventosEnCurso" [routerLink]="['/eventos-curso', anfitrion.id]">Eventos en curso</a></li>
            <li><a class="HistorialDeEventos" [routerLink]="['/historial-eventos', anfitrion.id]">Historial de eventos</a></li>
            <li><a class="ChatearConLaIA" href="#">Chatear con la IA</a></li>
            <li><a class="CentroDeAyuda" [routerLink]="['/centro-ayuda', anfitrion.id, anfitrion.role?.name]">Centro de ayuda</a></li>
          </ul>
          <ul class="menu-hamburguesa-text-2">
            <li><a class="Configuracion" [routerLink]="['/configuracion', anfitrion.id, anfitrion.role?.name]">Configuración</a></li>
            <li><a class="CerrarSesion" (click)="abrirModalCerrarSesion()">Cerrar sesión</a></li>
            <li><a class="legal" [routerLink]="['/legal', anfitrion.id, anfitrion.role?.name]">Legal</a></li>
          </ul>
        </nav>
      } @else {
        <nav class="menu-hamburguesa-text">
          <ul class="menu-hamburguesa-text-1-p">
            <li><a class="ContratosActuales-p" [routerLink]="['/listar-eventos', proveedor.id]">Crear eventos</a></li>
            <li><a class="HistorialDeContratos-p" [routerLink]="['/historial-contratos', proveedor.id]">Historial de contratos</a></li>
            <li><a class="ConsultarReportes-p" [routerLink]="['/reporte-proveedor', proveedor.id]">Consultar reportes</a></li>
            <li><a class="ChatearConLaIA-p" href="#">Chatear con la IA</a></li>
            <li><a class="CentroDeAyuda-p" [routerLink]="['/centro-ayuda', proveedor.id, proveedor.role?.name]">Centro de ayuda</a></li>
          </ul>
          <ul class="menu-hamburguesa-text-2-p">
            <li><a class="Configuracion-p" [routerLink]="['/configuracion', proveedor.id, proveedor.role?.name]">Configuración</a></li>
            <li><a class="CerrarSesion-p" (click)="abrirModalCerrarSesion()">Cerrar sesión</a></li>
            <li><a class="legal-p" [routerLink]="['/legal', proveedor.id, proveedor.role?.name]">Legal</a></li>
          </ul>
        </nav>
      }
    </section>
    @if (mostrarCerrarSesion) {
      <section class="cerrar-sesion">
        <div class="overlay-cerrar-sesion"></div>
        <div class="cerrar-sesion-container" (click)="$event.stopPropagation()">
          <h1>Cerrar Sesión</h1>
          <h3>¿Estas seguro de cerrar tu sesión?</h3>
          <div class="cerrar-sesion-container-botones" (click)="cerrarSesion()">
            <button class="boton-si" (click)="confirmarCerrarSesion($event)"><a [routerLink]="['']">Sí</a></button>
            <button class="boton-no" (click)="cancelarCerrarSesion($event)">No</button>
          </div>
        </div>
      </section>
    }
  <section class="legal-container">
    <div class="legal-container-1">
      @if (usuario.role?.name === 'ROLE_ANFITRION'){
        <a [routerLink]="['/menu-anfitrion', anfitrion.id]"><img ngSrc="/assets/back.png" width="44" height="44" class="back-img"></a>
      } @else {
        <a [routerLink]="['/menu-proveedor', proveedor.id]"><img ngSrc="/assets/back.png" width="44" height="44" class="back-img"></a>
      }
      <h1>Términos y Condiciones de Uso</h1>
    </div>
    <div class="legal-container-todo">
      <p class="negrita">1. Aceptación de los Términos</p>
      <p class="no-negrita">1.1. Al acceder y utilizar la plataforma de Celebra, usted acepta y se compromete a cumplir los presentes Términos y Condiciones. Si no está de acuerdo con alguno de los términos, no debe utilizar nuestra plataforma.<br>
         1.2. Nos reservamos el derecho de modificar estos términos en cualquier momento. Las modificaciones entrarán en vigor inmediatamente después de su publicación en el sitio web.</p>
      <p class="negrita">2. Descripción del Servicio</p>
      <p class="no-negrita">2.1. Celebra es una plataforma digital que conecta a usuarios que desean organizar eventos con proveedores de servicios de eventos verificados (en adelante, "Proveedores").<br>
        2.2. La plataforma no es parte de los contratos o acuerdos entre el usuario y el proveedor. Nuestra función se limita a facilitar el contacto y la comunicación entre ambas partes.</p>
      <p class="negrita">3. Registro y Cuentas de Usuario</p>
      <p class="no-negrita">3.1. Para utilizar ciertos servicios, es necesario registrarse y crear una cuenta. Usted se compromete a proporcionar información veraz, completa y actualizada durante el proceso de registro.<br>
        3.2. Usted es responsable de mantener la confidencialidad de su contraseña y de todas las actividades que ocurran bajo su cuenta.</p>
      <p class="negrita">4. Responsabilidad de los Proveedores</p>
      <p class="no-negrita">4.1. Los proveedores son responsables de la calidad, seguridad y legalidad de los servicios que ofrecen a través de la plataforma.<br>
        4.2. La información proporcionada por los proveedores (incluyendo, pero no limitado a, descripciones de servicios, precios y disponibilidad) es su responsabilidad exclusiva. Celebra no garantiza la exactitud de dicha información.</p>
      <p class="negrita">5. Proceso de Reserva y Pagos</p>
      <p class="no-negrita">5.1. El usuario puede contactar a los proveedores a través de la plataforma para solicitar cotizaciones y coordinar servicios.<br>
        5.2. Los pagos se realizan directamente al proveedor, a menos que se especifique lo contrario en el acuerdo entre las partes. Celebra no se hace responsable de las transacciones de pago.</p>
      <p class="negrita">6. Limitación de Responsabilidad, Ley Aplicable y Jurisdicción</p>
      <p class="no-negrita">6.1. Celebra no será responsable por daños indirectos, incidentales, especiales o consecuentes que resulten del uso o la incapacidad de usar la plataforma.<br>
        6.2. En la máxima medida permitida por la ley, nuestra responsabilidad total por cualquier reclamo relacionado con el uso de la plataforma se limita a la cantidad de dinero que usted haya pagado, en su caso, por los servicios.<br>
        6.3. Los presentes Términos y Condiciones se rigen por las leyes de la República del Perú.<br>
        6.4. Cualquier disputa que surja de estos términos se someterá a la jurisdicción exclusiva de los tribunales de la ciudad de Lima.</p>
    </div>
  </section>
    <section class="chat">
      <div class="chat-widget-container">

        <div class="chat-views-wrapper" [class.visible]="chatVisible">
          <div class="chat-list" [class.active]="activeChatName === null">
            @if (usuario.role?.name === 'ROLE_ANFITRION'){
              @for (c of chats; track c.id) {
                <div class="chat-item"
                     (click)="selectChat(c.proveedor.nombreorganizacion ?? '',c.proveedor.foto ?? null,c.id)">
                  <img [src]="c.proveedor.foto ?? 'assets/default-avatar.png'" class="chat-avatar" alt="Avatar">
                  <span class="chat-name">{{ c.proveedor.nombreorganizacion }}</span>
                </div>
              }
            }

            @else {
              @for (c of chats; track c.id) {
                <div class="chat-item"
                     (click)="selectChat(c.anfitrion.nombre + ' ' + c.anfitrion.apellido, c.anfitrion.foto ?? null, c.id)">
                  <img [src]="c.anfitrion.foto ?? 'assets/default-avatar.png'" class="chat-avatar" alt="Avatar">
                  <span class="chat-name">{{ c.anfitrion.nombre + ' ' + c.anfitrion.apellido }}</span>
                </div>
              }
            }
          </div>

          <div class="chat-window" [class.active]="activeChatName !== null">

            <div class="chat-window-header">
              <button class="chat-back-button" (click)="selectChat(null, null)">&larr;</button>
              <img [src]="activeChatAvatar ?? '/assets/default.png'" alt="Avatar" class="chat-avatar">
              <span class="chat-name">{{ activeChatName }}</span>
            </div>
            @if (usuario.role?.name === 'ROLE_ANFITRION'){
              <div class="chat-window-body" #scrollContainer>
                @for (m of mensajes; track m.id) {
                  <div class="msg-date">
                    {{ m.fechaenvio | date:'yyyy-MM-dd HH:mm' }}
                  </div>

                  <div class="message-row"
                       [class.outgoing-row]="m.esPropio"
                       [class.incoming-row]="!m.esPropio">

                    @if (!m.esPropio && anfitrion) {
                      <img [src]="activeChatAvatar" class="chat-avatar-msg">
                    }

                    <div class="message-content-wrapper">
                      <div class="message-sender-name">
                        @if (m.esPropio && anfitrion) {
                          {{ anfitrion.nombre + ' ' + anfitrion.apellido }}
                        } @else {
                          {{ activeChatName }}
                        }
                      </div>
                      <div class="message-bubble"
                           [class.message-outgoing]="!m.esPropio"
                           [class.message-incoming]="m.esPropio">
                        <span [lang]="'es'">{{ m.contenido }}</span>
                      </div>
                    </div>
                    @if (m.esPropio) {
                      <img [src]="anfitrion.foto" class="chat-avatar-msg">
                    }
                  </div>
                }
              </div>
            } @else {
              <div class="chat-window-body" #scrollContainer>
                @for (m of mensajes; track m.id) {
                  <div class="msg-date">
                    {{ m.fechaenvio | date:'yyyy-MM-dd HH:mm' }}
                  </div>
                  <div class="message-row"
                       [class.outgoing-row]="m.esPropio"
                       [class.incoming-row]="!m.esPropio">

                    @if (!m.esPropio && proveedor) {
                      <img [src]="activeChatAvatar" class="chat-avatar-msg">
                    }

                    <div class="message-content-wrapper">
                      <div class="message-sender-name">
                        @if (m.esPropio && proveedor) {
                          {{ proveedor.nombreorganizacion}}
                        } @else {
                          {{ activeChatName }}
                        }
                      </div>
                      <div class="message-bubble"
                           [class.message-outgoing]="!m.esPropio"
                           [class.message-incoming]="m.esPropio">
                        <span [lang]="'es'">{{ m.contenido }}</span>
                      </div>
                    </div>
                    @if (m.esPropio) {
                      <img [src]="proveedor.foto" class="chat-avatar-msg">
                    }
                  </div>
                }
              </div>
            }
            <div class="chat-window-footer">
              <input type="text"
                     [(ngModel)]="mensajeTexto"
                     placeholder="Escribe un mensaje..."
                     (keyup.enter)="enviarMensaje()">
              <button class="send-button" (click)="enviarMensaje()">&#9658;</button>
            </div>
          </div>
        </div>
        @if (usuario.role?.name === 'ROLE_ANFITRION'){
          <button class="chat-open-button" [class.activo]="chatVisible" (click)="toggleChat()">
            Click para abrir sus chats con proveedores
          </button>
        } @else {
          <button class="chat-open-button" [class.activo]="chatVisible" (click)="toggleChat()">
            Click para abrir sus chats con anfitriones
          </button>
        }
      </div>
    </section>
</body>
