<section class="encabezado">
  <div class="encabezado-logos">
    <a [routerLink]="['/']"><img src="/assets/Captura.PNG" width="619" height="241" alt="#" class="encabezado-logos-img"></a>
  </div>
  <a class="encabezado-h3-p" [routerLink]="['/register-anfitrion']">Conviertete en un anfitrion</a>
  <div class="encabezado-perfil">
    <img [src]="proveedor.foto" width="60" height="60">
    <div class="encabezado-perfil-container" (click)="toggleMenuPerfil()">
      <h3 class="encabezado-perfil-container-1">inicio de sesión como:</h3>
      <h3 class="encabezado-perfil-container-2">{{proveedor.email}}</h3>
    </div>
    <div class="encabezado-perfil-menu" [class.activo]="menuPerfilActivo">
      <nav class="encabezado-perfil-menu-nav">
        <ul class="encabezado-perfil-menu-ul">
          <li><a class="Vermiperfil-a" [routerLink]="['/ver-mi-perfil', proveedor.id, proveedor.role?.name]">Ver mi perfil</a></li>
          <li><a class="CerrarSesion-a" (click)="abrirModalCerrarSesion()">Cerrar sesión</a></li>
        </ul>
      </nav>
    </div>
  </div>
</section>
<body>
<section class="menu-hamburguesa">
  <div class="menu-hamburguesa-boton" [class.desactivado]="mostrarFiltrosAvanzados" (click)="toggleMenu()">
    <img src="/assets/Menu.png" width="41" height="41" class="menu-hamburguesa-img" alt="#">
  </div>
  <div class="overlay" [class.activo]="menuActivo"></div>
  <nav class="menu-hamburguesa-text">
    <ul class="menu-hamburguesa-text-1-p">
      <li><a class="ContratosActuales-p" [routerLink]="['/listar-eventos', proveedor.id]">Crear eventos</a></li>
      <li><a class="HistorialDeContratos-p" [routerLink]="['/historial-contratos', proveedor.id]">Historial de contratos</a></li>
      <li><a class="ConsultarReportes-p" [routerLink]="['/reporte-proveedor', proveedor.id]">Consultar reportes</a></li>
      <li><a class="ChatearConLaIA-p" href="#">Chatear con la IA</a></li>
      <li><a class="CentroDeAyuda-p" [routerLink]="['/centro-ayuda', proveedor.id, proveedor.role?.name]">Centro de ayuda</a></li>
    </ul>
    <ul class="menu-hamburguesa-text-2-p">
      <li><a class="Configuracion-p" [routerLink]="['/configuracion', proveedor.id, proveedor.role?.name]">Configuración</a></li>
      <li><a class="CerrarSesion-p" (click)="abrirModalCerrarSesion()">Cerrar sesión</a></li>
      <li><a class="legal-p" [routerLink]="['/legal', proveedor.id, proveedor.role?.name]">Legal</a></li>
    </ul>
  </nav>
</section>
  @if (mostrarCerrarSesion) {
    <section class="cerrar-sesion">
      <div class="overlay-cerrar-sesion"></div>
      <div class="cerrar-sesion-container" (click)="$event.stopPropagation()">
        <h1>Cerrar Sesión</h1>
        <h3>¿Estas seguro de cerrar tu sesión?</h3>
        <div class="cerrar-sesion-container-botones" (click)="cerrarSesion()">
          <button class="boton-si" (click)="confirmarCerrarSesion($event)"><a [routerLink]="['']">Sí</a></button>
          <button class="boton-no" (click)="cancelarCerrarSesion($event)">No</button>
        </div>
      </div>
    </section>
  }
<section class="listar-eventos">
  <div class="listar-eventos-header">
    <div class="listar-eventos-back">
      <a [routerLink]="['/menu-proveedor', proveedor.id]"><img src="/assets/back.png" height="44" width="44" class="back"></a>
    </div>
    <h1>Creacion de eventos y eventos creados</h1>
  </div>
  <div class="eventos-container">
    <ul #listaEventos class="eventos-container-lista" (scroll)="onScroll()">
      <a [routerLink]="['/crear-evento/proveedor/', proveedor.id]"><img src="/assets/Group%20633576.png" width="339" height="264" class="img-nuevo"></a>
      @if (evento && evento.length > 0){
        @for (eventos of evento; track $index; let i = $index){
          <li class="eventos-container-item" [style.opacity]="getOpacityFor(i)">
            <div class="evento-header">
              <div class="evento-header-1">
                @if (obtenerImagenesPorEvento(eventos.id || 0).length > 1) {
                  <div class="carrusel" [attr.data-evento-id]="eventos.id">
                    @for (img of obtenerImagenesPorEvento(eventos.id!); track img; let j = $index) {
                      <img [src]="getImagenSrc(img.imagen)" alt="Imagen del evento" class="carrusel-img" [class.activa]="j === indices[eventos.id!]" [class.saliente]="haIniciadoAnimacion[eventos.id!] && j === indicePrevio[eventos.id!]"/>
                    }
                  </div>
                } @else {
                  <img [src]="obtenerImagenPorEvento(eventos.id || 0)" alt="Imagen del evento" class="img-eventos">
                }
                <div class="evento-header-2">
                  <img src="/assets/Edit.png" width="32" height="32" (click)="irEditarEvento(eventos.proveedor.id!, eventos.id!)">
                  <img src="/assets/Trash%202.png" width="32" height="32" class="img-trash" (click)="abrirModalEliminar(eventos.id!)">
                </div>
              </div>
              <img [alt]="eventos.titulo" class="evento-imagen">
            </div>
            <div class="evento-contenido-1">
              <h3 class="evento-titulo">{{eventos.titulo}}</h3>
            </div>
            <div class="evento-contenido-2">
              <span class="evento-tipo">{{eventos.tipoevento.nombre}}</span>
              <span class="evento-descripcion-tipo">{{eventos.descripcion}}</span>
            </div>
            <div class="evento-contenido-3">
              <div class="evento-contenido-3-1">
                <span class="evento-precio">S/.{{eventos.presupuesto}}</span>
                <span class="evento-aforo">para {{eventos.aforo}} personas</span>
              </div>
            </div>
          </li>
        }
      }
    </ul>
    @if (evento && evento.length > 0){
      <div class="eventos-navegacion">
        <img src="/assets/Rectangle%2030.png" width="10" height="816" class="barra-1">
        <img src="/assets/Rectangle%2031.png" width="6" height="64" class="barra-2" [style.top.px]="scrollPosition" (mousedown)="onBarraMouseDown($event)">
      </div>
    }
  </div>
  @if (mostrarModalEliminar) {
    <div class="eliminar">
      <div class="eliminar-container">
        <h1>¿Está seguro de eliminar este evento?</h1>
        <div class="eliminar-botones">
          <button (click)="confirmarEliminar()">Si</button>
          <button (click)="cerrarModalEliminar()">No</button>
        </div>
      </div>
    </div>
  }
</section>
<section class="chat">
  <div class="chat-widget-container">

    <div class="chat-views-wrapper" [class.visible]="chatVisible">
      <div class="chat-list" [class.active]="activeChatName === null">
        @for (c of chats; track c.id) {
          <div class="chat-item"
               (click)="selectChat(c.anfitrion.nombre ?? '',c.anfitrion.foto ?? null,c.id)">
            <img [src]="c.anfitrion.foto ?? 'assets/default-avatar.png'" class="chat-avatar" alt="Avatar">
            <span class="chat-name">{{ c.anfitrion.nombre }}</span>
          </div>
        }
      </div>

      <div class="chat-window" [class.active]="activeChatName !== null">

        <div class="chat-window-header">
          <button class="chat-back-button" (click)="selectChat(null, null)">&larr;</button>
          <img [src]="activeChatAvatar ?? '/assets/default.png'" alt="Avatar" class="chat-avatar">
          <span class="chat-name">{{ activeChatName }}</span>
        </div>

        <div class="chat-window-body" #scrollContainer>
          @for (m of mensajes; track m.id) {
            <div class="msg-date">
              {{ m.fechaenvio | date:'yyyy-MM-dd HH:mm' }}
            </div>
            <div class="message-row"
                 [class.outgoing-row]="m.esPropio"
                 [class.incoming-row]="!m.esPropio">

              @if (!m.esPropio && proveedor) {
                <img [src]="activeChatAvatar" class="chat-avatar-msg">
              }

              <div class="message-content-wrapper">
                <div class="message-sender-name">
                  @if (m.esPropio && proveedor) {
                    {{ proveedor.nombreorganizacion}}
                  } @else {
                    {{ activeChatName }}
                  }
                </div>
                <div class="message-bubble"
                     [class.message-outgoing]="!m.esPropio"
                     [class.message-incoming]="m.esPropio">
                  <span [lang]="'es'">{{ m.contenido }}</span>
                </div>
              </div>
              @if (m.esPropio) {
                <img [src]="proveedor.foto" class="chat-avatar-msg">
              }
            </div>
          }
        </div>
        <div class="chat-window-footer">
          <input type="text"
                 [(ngModel)]="mensajeTexto"
                 placeholder="Escribe un mensaje..."
                 (keyup.enter)="enviarMensaje()">
          <button class="send-button" (click)="enviarMensaje()">&#9658;</button>
        </div>
      </div>
    </div>
    <button class="chat-open-button" [class.activo]="chatVisible" (click)="toggleChat()">
      Click para abrir sus chats con anfitriones
    </button>
  </div>
</section>
</body>
