<section class="encabezado">
  <div class="encabezado-logos">
    <img src="/assets/Captura.PNG" width="619" height="241" alt="#" class="encabezado-logos-img">
  </div>
  <div class="encabezado-buscar">
    <form [formGroup]="buscarForm" class="encabezado-buscar-formulario">
      <div class="campo-donde">
        <select id="Distrito" formControlName="Distrito" required>
          <option value="" disabled selected>Seleccione el distrito</option>
          @for (c of distrito; track c.id) {
            <option [value]="c.id">{{ c.nombre }}</option>
          }
        </select>
      </div>
      <div class="campo-aforo">
        <input id="Aforo" formControlName="Aforo" type="number" required>
        <label for="Aforo">Aforo</label>
      </div>
      <div class="campo-fecha">
        <input id="Fecha" formControlName="Fecha" type="date" required>
        <label for="Fecha">Fecha</label>
        <div class="campo-fecha-buscar" [class.invalido]="buscarForm.invalid">
          <a href="#">
            <button type="submit" [disabled]="buscarForm.invalid" (click)="buscar()"><img ngSrc="/assets/search-13-xxl%201.png" width="22" height="22" class="buscar-img" [class.invalido]="buscarForm.invalid"></button>
          </a>
        </div>
      </div>
    </form>
    <div class="encabezado-buscar-avanzada" [class.activo]="mostrarFiltrosAvanzados">
      <div class="encabezado-buscar-avanzada-container">
        <img src="/assets/icon.png" width="28" height="28" class="buscar-avanzada-img" (click)="toggleFiltrosAvanzados();">
      </div>
    </div>
  </div>
  <div class="overlay-buscar-avanzada" [class.activo]="mostrarFiltrosAvanzados" (click)="cerrarFiltrosAvanzados()">
    @if (mostrarFiltrosAvanzados){
      <form [formGroup]="buscarAvanzadaForm" class="encabezado-buscar-avanzada-cuadro" (click)="$event.stopPropagation()">
        <div class="encabezado-buscar-avanzada-cuadro-inicio">
          <h3 class="encabezado-buscar-avanzada-cuadro-h3">Filtros Avanzados</h3>
          <img src="/assets/X.png" width="29" height="28" class="X" (click)="toggleFiltrosAvanzados()">
        </div>
        <div class="filtros-avanzados">
          <div class="filtros-avanzados-ubicacion">
            <div class="filtros-avanzados-ubicacion-1">
              <h3>Ubicación</h3>
              <img src="/assets/location_on.png" width="14" height="14">
            </div>
            <select id="UbicacionAvanzada" formControlName="UbicacionAvanzada" required>
              <option value="" disabled selected>Seleccione el distrito</option>
              @for (c of distrito; track c.id) {
                <option [value]="c.id">{{ c.nombre }}</option>
              }
            </select>
          </div>
          <div class="filtros-avanzados-tipoevento">
            <div class="filtros-avanzados-tipoevento-1">
              <h3>Tipo de evento</h3>
              <img src="/assets/icononpng.png" width="10" height="5">
            </div>
            <select id="TipoEventoAvanzada" formControlName="TipoEventoAvanzada" required>
              <option value="" disabled selected>Seleccione el tipo de evento</option>
              @for (c of tipoevento; track c.id) {
                <option [value]="c.id">{{ c.nombre }}</option>
              }
            </select>
          </div>
          <div class="filtros-avanzados-fechainicio">
            <div class="filtros-avanzados-fechainicio-1">
              <h3>Fecha inicio</h3>
              <img src="/assets/Icononcalendar1.png" width="15" height="16">
            </div>
            <input formControlName="FechaInicioAvanzada" type="date" required>
          </div>
          <div class="filtros-avanzados-fechafin">
            <div class="filtros-avanzados-fechafin-1">
              <h3>Fecha fin</h3>
              <img src="/assets/Icononcalendar2.png" width="15" height="16">
            </div>
            <input formControlName="FechaFinAvanzada" type="date" required>
          </div>
          <div class="filtros-avanzados-aforo">
            <div class="filtros-avanzados-aforo-1">
              <h3>Aforo Mínimo</h3>
              <img src="/assets/icononperson.png" width="12" height="12">
            </div>
            <input formControlName="AforoAvanzadaMin" type="number" required>
          </div>
          <div class="filtros-avanzados-aforo">
            <div class="filtros-avanzados-aforo-1">
              <h3>Aforo Máximo</h3>
              <img src="/assets/icononperson.png" width="12" height="12">
            </div>
            <input formControlName="AforoAvanzadaMax" type="number" required>
          </div>
          <div class="empujar">
            <div class="filtros-avanzados-presupuesto">
              <div class="filtros-avanzados-presupuesto-1">
                <h3>Presupuesto Mínimo</h3>
                <img src="/assets/Iconondolar.png" width="9" height="16">
              </div>
              <input formControlName="PresupuestoAvanzadaMin" type="number" required>
            </div>
            <div class="filtros-avanzados-presupuesto">
              <div class="filtros-avanzados-presupuesto-1">
                <h3>Presupuesto Máximo</h3>
                <img ngSrc="/assets/Iconondolar.png" width="9" height="16">
              </div>
              <input formControlName="PresupuestoAvanzadaMax" type="number" required>
            </div>
          </div>
        </div>
        <button type="submit" [disabled]="buscarAvanzadaForm.invalid" (click)="buscarAvanzada()" class="boton-buscar">Buscar</button>
      </form>
    }
  </div>
  <a class="encabezado-h3" [routerLink]="['/register-proveedor']">Conviertete en un proveedor</a>
  <div class="encabezado-perfil">
    <img [src]="anfitrion.foto" width="60" height="60">
    <div class="encabezado-perfil-container" (click)="toggleMenuPerfil()">
      <h3 class="encabezado-perfil-container-1">inicio de sesión como:</h3>
      <h3 class="encabezado-perfil-container-2">{{anfitrion.email}}</h3>
    </div>
    <div class="encabezado-perfil-menu" [class.activo]="menuPerfilActivo">
      <nav class="encabezado-perfil-menu-nav">
        <ul class="encabezado-perfil-menu-ul">
          <li><a class="Vermiperfil-a" [routerLink]="['/ver-mi-perfil', anfitrion.id, anfitrion.role?.name]">Ver mi perfil</a></li>
          <li><a class="CerrarSesion-a" (click)="abrirModalCerrarSesion()">Cerrar sesión</a></li>
        </ul>
      </nav>
    </div>
  </div>
</section>
<body>
<section class="menu-hamburguesa">
  <div class="menu-hamburguesa-boton" [class.desactivado]="mostrarFiltrosAvanzados" (click)="toggleMenu()">
    <img ngSrc="/assets/Menu.png" width="41" height="41" class="menu-hamburguesa-img">
  </div>
  <div class="overlay" [class.activo]="menuActivo"></div>
  <nav class="menu-hamburguesa-text">
    <ul class="menu-hamburguesa-text-1">
      <li><a class="EventosEnCurso" [routerLink]="['/eventos-curso', anfitrion.id]">Eventos en curso</a></li>
      <li><a class="HistorialDeEventos" [routerLink]="['/historial-eventos', anfitrion.id]">Historial de eventos</a></li>
      <li><a class="ChatearConLaIA" href="#">Chatear con la IA</a></li>
      <li><a class="CentroDeAyuda" [routerLink]="['/centro-ayuda', anfitrion.id, anfitrion.role?.name]">Centro de ayuda</a></li>
    </ul>
    <ul class="menu-hamburguesa-text-2">
      <li><a class="Configuracion" [routerLink]="['/configuracion', anfitrion.id, anfitrion.role?.name]">Configuración</a></li>
      <li><a class="CerrarSesion" (click)="abrirModalCerrarSesion()">Cerrar sesión</a></li>
      <li><a class="legal" [routerLink]="['/legal', anfitrion.id, anfitrion.role?.name]">Legal</a></li>
    </ul>
  </nav>
</section>
<section class="detalle-container">
  <div class="scroll-wrapper">
  @if (!mostrarRecibo) {
    <div class="reserva-wrapper">

      <main class="columna-pago">

        <div class="reserva-header">
          <button class="btn-volver" (click)="volverAtras()">
            <img ngSrc="/assets/back.png" width="44" height="44" alt="Volver">
          </button>
          <h1>Confirmar Reserva</h1>
        </div>

        <div class="step-box">
          <h2>1. Agregue un metodo de pago</h2>
        </div>

        <form class="opciones-pago" [formGroup]="pagoForm" (ngSubmit)="procesarPago()">

          <label class="opcion-radio">
            <input type="radio" formControlName="metodoPago" value="yapeplin">
            <span class="radio-custom"></span>
            <div class="opcion-detalle">
              <span class="opcion-titulo">Pago con yape o plin</span>
              <div class="opcion-logos">
                <img src="/assets/plin-logo.png" height="38" width="38" alt="Plin">
                <img src="/assets/yape-logo.png" height="38" width="38" alt="Yape">
              </div>
            </div>
          </label>

          <label class="opcion-radio">
            <input type="radio" formControlName="metodoPago" value="tarjeta">
            <span class="radio-custom"></span>
            <div class="opcion-detalle">
              <span class="opcion-titulo">Tarjeta de crédito o débito</span>
              <div class="opcion-logos">
                <img src="/assets/visa-mastercard.png" height="36" width="97" alt="Mastercard">
              </div>
            </div>
          </label>

          <label class="opcion-radio">
            <input type="radio" formControlName="metodoPago" value="transferencia">
            <span class="radio-custom"></span>
            <div class="opcion-detalle">
              <span class="opcion-titulo">Transferencia interbancaria</span>
              <div class="opcion-logos">
                <img src="/assets/banco.png" height="40" width="40" alt="Banco">
              </div>
            </div>
          </label>

        </form>
      </main>

      <aside class="columna-resumen">
        <div class="resumen-card">

          <div class="resumen-evento-header">
            <img [src]="imagenesEvento[0].imagen" width="100" height="75" alt="Evento" class="resumen-img">
            <div class="resumen-evento-info">
              <span class="resumen-titulo">{{evento.titulo}}</span>
              <div class="resumen-rating">
                <span class="star-icon">&#9733;</span> {{evento.valoracion}} (435)
              </div>
            </div>
          </div>

          <div class="resumen-seccion">
            <h3>Cancelación</h3>
            <p>cancelación anticipada, puede cancelar el evento en una maximo de <strong>3 días</strong> despues de paragarlo. Se le devolvera el dinero en toda su integridad.</p>
          </div>

          <div class="resumen-seccion">
            <h3>Fechas y aforo</h3>
            <div class="resumen-item">
              <span>Fecha de inicio</span>
              <strong>{{evento.fechainicio}}</strong>
            </div>
            <div class="resumen-item">
              <span>Fecha de fin</span>
              <strong>{{evento.fechafin}}</strong>
            </div>
            <div class="resumen-item">
              <span>Aforo</span>
              <strong>{{evento.aforo}}</strong>
            </div>
          </div>

          <div class="resumen-seccion">
            <h3>Información de precio</h3>
            <div class="resumen-item">
              <span>Presupuesto: <strong></strong></span>
              <span>S/. {{evento.presupuesto}}</span>
            </div>
            <div class="resumen-item">
              <span>Servicio y protección de evento: <strong></strong></span>
              <span>S/. 100</span>
            </div>
          </div>

          <div class="resumen-total">
            <div class="resumen-item">
              <span><strong>Total PEN</strong></span>
              <strong>S/. {{evento.presupuesto + 100}}</strong>
            </div>
          </div>

          <button
            class="pagar-btn"
            [disabled]="pagoForm.invalid"
            (click)="procesarPago()">
            Pagar
          </button>

        </div>
      </aside>

    </div> }

  @else {
    <div class="recibo-wrapper">
      <div class="reserva-header">
        <button class="btn-volver" (click)="volverAtras()">
          <img src="/assets/back.png" width="44" height="44" alt="Volver">
        </button>
        <h1>Tu recibo de Celebra</h1>
      </div>
      <main class="recibo-col-main">


        <div class="recibo-card-evento">
          <img [src]="imagenesEvento[0].imagen" width="160" height="120" alt="Evento" class="recibo-img">
          <div class="recibo-evento-info">
            <span class="recibo-titulo">{{evento.titulo}}</span>
            <div class="recibo-rating">
              <span class="star-icon">&#9733;</span> {{evento.valoracion}} (435)
            </div>
          </div>
        </div>

        <div class="recibo-detalles-lista">
          <div class="recibo-item"><span>Fecha de inicio</span><strong>{{evento.fechainicio}}</strong></div>
          <div class="recibo-item"><span>Fecha de fin</span><strong>{{evento.fechafin}}</strong></div>
          <div class="recibo-item"><span>Aforo</span><strong>{{evento.aforo}}</strong></div>
          <div class="recibo-item"><span>Organiza</span><strong>{{evento.proveedor.nombreorganizacion}}</strong></div>
        </div>

        <div class="recibo-seccion-texto">
          <h3>Política de cancelación</h3>
          <p>Cancelacion gratuita hasta tres dias despues del pago de la reserva. Despues de ese plazo, la reservación no será reembolsable.</p>
        </div>

        <div class="recibo-seccion-texto">
          <h3>Tienes alguna duda?</h3>
          <p>Encuentra la información sobre los pagos y los rembolsos con nuestros <a [routerLink]="['/centro-ayuda', anfitrion.id, anfitrion.role?.name]">agentes</a> o <a [routerLink]="['/menu-anfitrion', anfitrion.id]">celebot</a>.</p>
        </div>

      </main>

      <aside class="recibo-col-sidebar">

        <div class="recibo-card-box">
          <h2>Desglose de precios</h2>
          <div class="recibo-item">
            <span>{{evento.titulo}}</span>
            <span>S/. {{evento.presupuesto}}</span>
          </div>
          <div class="recibo-item">
            <span>Servicio y protección de evento</span>
            <span>S/. 100.00</span>
          </div>
          <div class="recibo-item total">
            <strong>Total</strong>
            <strong>S/. {{evento.presupuesto + 100}}</strong>
          </div>
        </div>

        <div class="recibo-card-box">
          <h2>Pago</h2>
          <div class="recibo-item">
            <span>{{ metodoPagoSeleccionado }}</span>
          </div>
          <div class="recibo-item total">
            <strong>Monto pagado</strong>
            <strong>S/. {{evento.presupuesto + 100}}</strong>
          </div>
        </div>
        <button class="aceptar-btn" (click)="irAlInicio()">Aceptar</button>
      </aside>
      <footer class="recibo-footer">
        Este recibo sera entregado por correo al contratante del servicio en un plazo maximo de 24h despues de realizar el pago. <a>Mas informacion</a>.
      </footer>
    </div>
  }
  </div>
</section>
  @if (mostrarCerrarSesion) {
    <section class="cerrar-sesion">
      <div class="overlay-cerrar-sesion"></div>
      <div class="cerrar-sesion-container" (click)="$event.stopPropagation()">
        <h1>Cerrar Sesión</h1>
        <h3>¿Estas seguro de cerrar tu sesión?</h3>
        <div class="cerrar-sesion-container-botones" (click)="cerrarSesion()">
          <button class="boton-si" (click)="confirmarCerrarSesion($event)"><a [routerLink]="['/']">Sí</a></button>
          <button class="boton-no" (click)="cancelarCerrarSesion($event)">No</button>
        </div>
      </div>
    </section>
  }
<section class="chat">
  <div class="chat-widget-container">

    <div class="chat-views-wrapper" [class.visible]="chatVisible">
      <div class="chat-list" [class.active]="activeChatName === null">
        @for (c of chats; track c.id) {
          <div class="chat-item"
               (click)="selectChat(c.proveedor.nombreorganizacion ?? '',c.proveedor.foto ?? null,c.id)">
            <img [src]="c.proveedor.foto ?? 'assets/default-avatar.png'" class="chat-avatar" alt="Avatar">
            <span class="chat-name">{{ c.proveedor.nombreorganizacion }}</span>
          </div>
        }
      </div>

      <div class="chat-window" [class.active]="activeChatName !== null">

        <div class="chat-window-header">
          <button class="chat-back-button" (click)="selectChat(null, null)">&larr;</button>
          <img [src]="activeChatAvatar ?? '/assets/default.png'" alt="Avatar" class="chat-avatar">
          <span class="chat-name">{{ activeChatName }}</span>
        </div>

        <div class="chat-window-body" #scrollContainer>
          @for (m of mensajes; track m.id) {
            <div class="msg-date">
              {{ m.fechaenvio | date:'yyyy-MM-dd HH:mm' }}
            </div>

            <div class="message-row"
                 [class.outgoing-row]="m.esPropio"
                 [class.incoming-row]="!m.esPropio">

              @if (!m.esPropio && anfitrion) {
                <img [src]="activeChatAvatar" class="chat-avatar-msg">
              }

              <div class="message-content-wrapper">
                <div class="message-sender-name">
                  @if (m.esPropio && anfitrion) {
                    {{ anfitrion.nombre + ' ' + anfitrion.apellido }}
                  } @else {
                    {{ activeChatName }}
                  }
                </div>
                <div class="message-bubble"
                     [class.message-outgoing]="!m.esPropio"
                     [class.message-incoming]="m.esPropio">
                  <span [lang]="'es'">{{ m.contenido }}</span>
                </div>
              </div>
              @if (m.esPropio) {
                <img [src]="anfitrion.foto" class="chat-avatar-msg">
              }
            </div>
          }
        </div>
        <div class="chat-window-footer">
          <input type="text"
                 [(ngModel)]="mensajeTexto"
                 placeholder="Escribe un mensaje..."
                 (keyup.enter)="enviarMensaje()">
          <button class="send-button" (click)="enviarMensaje()">&#9658;</button>
        </div>
      </div>
    </div>
    <button class="chat-open-button" [class.activo]="chatVisible" (click)="toggleChat()">
      Click para abrir sus chats con proveedores
    </button>
  </div>
</section>
</body>
