mat-toolbar{
  margin-top: -42%;
  border-radius: 2px;
  border-bottom: 1px solid #C4C4C4;
}
mat-toolbar-row{
  gap: 1rem;
}
mat-toolbar button{
  margin-top: 10px;
  background-color: #E4CCFF;
  font-family: 'Inter', sans-serif;
  font-weight: 750;
}
.activo{
  background-color: #673ab7 !important;
  color: white !important;
}
