<section class="encabezado">
  <div class="encabezado-logos">
    <a [routerLink]="['']"><img ngSrc="/assets/Captura.PNG" width="619" height="241" alt="#" class="encabezado-logos-img"></a>
  </div>
  <div class="encabezado-buscar">
    <form [formGroup]="buscarForm" class="encabezado-buscar-formulario">
      <div class="campo-donde">
        <select id="Distrito" formControlName="Distrito" required>
          <option value="" disabled selected>Seleccione el distrito</option>
          @for (c of distrito; track c.id) {
            <option [value]="c.id">{{ c.nombre }}</option>
          }
        </select>
      </div>
      <div class="campo-aforo">
        <input id="Aforo" formControlName="Aforo" type="number" required>
        <label for="Aforo">Aforo</label>
      </div>
      <div class="campo-fecha">
        <input id="Fecha" formControlName="Fecha" type="date" required>
        <label for="Fecha">Fecha</label>
        <div class="campo-fecha-buscar" [class.invalido]="buscarForm.invalid">
          <a href="#">
            <button type="submit" [disabled]="buscarForm.invalid" (click)="buscar()"><img ngSrc="/assets/search-13-xxl%201.png" width="22" height="22" class="buscar-img" [class.invalido]="buscarForm.invalid"></button>
          </a>
        </div>
      </div>
    </form>
    <div class="encabezado-buscar-avanzada" [class.activo]="mostrarFiltrosAvanzados">
      <div class="encabezado-buscar-avanzada-container">
        <img ngSrc="/assets/icon.png" width="28" height="28" class="buscar-avanzada-img" (click)="toggleFiltrosAvanzados();">
      </div>
    </div>
  </div>
  <div class="overlay-buscar-avanzada" [class.activo]="mostrarFiltrosAvanzados" (click)="cerrarFiltrosAvanzados()">
    @if (mostrarFiltrosAvanzados){
      <form [formGroup]="buscarAvanzadaForm" class="encabezado-buscar-avanzada-cuadro" (click)="$event.stopPropagation()">
        <div class="encabezado-buscar-avanzada-cuadro-inicio">
          <h3 class="encabezado-buscar-avanzada-cuadro-h3">Filtros Avanzados</h3>
          <img ngSrc="/assets/X.png" width="29" height="28" class="X" (click)="toggleFiltrosAvanzados()">
        </div>
        <div class="filtros-avanzados">
          <div class="filtros-avanzados-ubicacion">
            <div class="filtros-avanzados-ubicacion-1">
              <h3>Ubicación</h3>
              <img ngSrc="/assets/location_on.png" width="14" height="14">
            </div>
            <select id="UbicacionAvanzada" formControlName="UbicacionAvanzada" required>
              <option value="" disabled selected>Seleccione el distrito</option>
              @for (c of distrito; track c.id) {
                <option [value]="c.id">{{ c.nombre }}</option>
              }
            </select>
          </div>
          <div class="filtros-avanzados-tipoevento">
            <div class="filtros-avanzados-tipoevento-1">
              <h3>Tipo de evento</h3>
              <img ngSrc="/assets/icononpng.png" width="10" height="5">
            </div>
            <select id="TipoEventoAvanzada" formControlName="TipoEventoAvanzada" required>
              <option value="" disabled selected>Seleccione el tipo de evento</option>
              @for (c of tipoEvento; track c.id) {
                <option [value]="c.id">{{ c.nombre }}</option>
              }
            </select>
          </div>
          <div class="filtros-avanzados-fechainicio">
            <div class="filtros-avanzados-fechainicio-1">
              <h3>Fecha inicio</h3>
              <img ngSrc="/assets/Icononcalendar1.png" width="15" height="16">
            </div>
            <input formControlName="FechaInicioAvanzada" type="date" required>
          </div>
          <div class="filtros-avanzados-fechafin">
            <div class="filtros-avanzados-fechafin-1">
              <h3>Fecha fin</h3>
              <img ngSrc="/assets/Icononcalendar2.png" width="15" height="16">
            </div>
            <input formControlName="FechaFinAvanzada" type="date" required>
          </div>
          <div class="filtros-avanzados-aforo">
            <div class="filtros-avanzados-aforo-1">
              <h3>Aforo Mínimo</h3>
              <img ngSrc="/assets/icononperson.png" width="12" height="12">
            </div>
            <input formControlName="AforoAvanzadaMin" type="number" required>
          </div>
          <div class="filtros-avanzados-aforo">
            <div class="filtros-avanzados-aforo-1">
              <h3>Aforo Máximo</h3>
              <img ngSrc="/assets/icononperson.png" width="12" height="12">
            </div>
            <input formControlName="AforoAvanzadaMax" type="number" required>
          </div>
          <div class="empujar">
            <div class="filtros-avanzados-presupuesto">
              <div class="filtros-avanzados-presupuesto-1">
                <h3>Presupuesto Mínimo</h3>
                <img ngSrc="/assets/Iconondolar.png" width="9" height="16">
              </div>
              <input formControlName="PresupuestoAvanzadaMin" type="number" required>
            </div>
            <div class="filtros-avanzados-presupuesto">
              <div class="filtros-avanzados-presupuesto-1">
                <h3>Presupuesto Máximo</h3>
                <img ngSrc="/assets/Iconondolar.png" width="9" height="16">
              </div>
              <input formControlName="PresupuestoAvanzadaMax" type="number" required>
            </div>
          </div>
        </div>
        <button type="submit" [disabled]="buscarAvanzadaForm.invalid" (click)="buscarAvanzada()" class="boton-buscar">Buscar</button>
      </form>
    }
  </div>
  <a class="encabezado-h3" [routerLink]="['/register-proveedor']">Conviertete en un proveedor</a>
  <div class="encabezado-perfil">
    <img [src]="anfitrion.foto" width="60" height="60">
    <div class="encabezado-perfil-container" (click)="toggleMenuPerfil()">
      <h3 class="encabezado-perfil-container-1">inicio de sesión como:</h3>
      <h3 class="encabezado-perfil-container-2">{{anfitrion.email}}</h3>
    </div>
    <div class="encabezado-perfil-menu" [class.activo]="menuPerfilActivo">
      <nav class="encabezado-perfil-menu-nav">
        <ul class="encabezado-perfil-menu-ul">
          <li><a class="Vermiperfil-a" [routerLink]="['/ver-mi-perfil', anfitrion.id, anfitrion.role?.name]">Ver mi perfil</a></li>
          <li><a class="CerrarSesion-a" (click)="abrirModalCerrarSesion()">Cerrar sesión</a></li>
        </ul>
      </nav>
    </div>
  </div>
</section>
<body>
<section class="menu-hamburguesa">
  <div class="menu-hamburguesa-boton" [class.desactivado]="mostrarFiltrosAvanzados" (click)="toggleMenu()">
    <img ngSrc="/assets/Menu.png" width="41" height="41" class="menu-hamburguesa-img">
  </div>
  <div class="overlay" [class.activo]="menuActivo"></div>
  <nav class="menu-hamburguesa-text">
    <ul class="menu-hamburguesa-text-1">
      <li><a class="EventosEnCurso" [routerLink]="['/eventos-curso', anfitrion.id]">Eventos en curso</a></li>
      <li><a class="HistorialDeEventos" [routerLink]="['/historial-eventos', anfitrion.id]">Historial de eventos</a></li>
      <li><a class="ChatearConLaIA" href="#">Chatear con la IA</a></li>
      <li><a class="CentroDeAyuda" [routerLink]="['/centro-ayuda', anfitrion.id, anfitrion.role?.name]">Centro de ayuda</a></li>
    </ul>
    <ul class="menu-hamburguesa-text-2">
      <li><a class="Configuracion" [routerLink]="['/configuracion', anfitrion.id, anfitrion.role?.name]">Configuración</a></li>
      <li><a class="CerrarSesion" (click)="abrirModalCerrarSesion()">Cerrar sesión</a></li>
      <li><a class="legal" [routerLink]="['/legal', anfitrion.id, anfitrion.role?.name]">Legal</a></li>
    </ul>
  </nav>
</section>

<section class="eventos">
  <div class="listar-eventos-header">
    <div class="listar-eventos-back">
      <a [routerLink]="['/menu-anfitrion', anfitrion.id]"><img src="/assets/back.png" height="44" width="44" class="back"></a>
    </div>
    <h1>Eventos en curso</h1>
  </div>
  <div class="eventos-container">
    <ul #listaEventos class="eventos-container-lista" (scroll)="onScroll()">
      @if (contratoEvento && contratoEvento.length > 0){
        @for (contrato of contratoEvento; track $index; let i = $index){
          <li class="eventos-container-item" [style.opacity]="getOpacityFor(i)">
            <div class="evento-header">
              @if (obtenerImagenesPorEvento(contrato.evento.id || 0).length > 1) {
                <div class="carrusel" [attr.data-evento-id]="contrato.evento.id">
                  @for (img of obtenerImagenesPorEvento(contrato.evento.id!); track img; let j = $index) {
                    <img [src]="getImagenSrc(img.imagen)" alt="Imagen del evento" class="carrusel-img" [class.activa]="j === indices[contrato.evento.id!]" [class.saliente]="haIniciadoAnimacion[contrato.evento.id!] && j === indicePrevio[contrato.evento.id!]"/>
                  }
                </div>
              } @else {
                <img [src]="obtenerImagenPorEvento(contrato.evento.id || 0)" alt="Imagen del evento" class="img-eventos">
              }
              <img ngSrc="/assets/Heart.png" width="36" height="36" class="evento-corazon" (click)="onCorazonClick($event)">
              <img [alt]="contrato.evento.titulo" class="evento-imagen">
            </div>
            <div class="evento-contenido-1">
              <h3 class="evento-titulo">{{contrato.evento.titulo}}</h3>
              <div class="evento-valoracion-container">
                <img ngSrc="/assets/Star.png" width="22" height="21">
                <h3 class="evento-valoracion">{{contrato.evento.valoracion}}</h3>
              </div>
            </div>
            <div class="evento-contenido-2">
              <span class="evento-tipo">{{contrato.evento.tipoevento.nombre}}</span>
              <span class="evento-descripcion-tipo">{{contrato.evento.descripcion}}</span>
            </div>
            <div class="evento-contenido-3">
              <span class="evento-precio">S/.{{contrato.evento.presupuesto}}</span>
              <span class="evento-aforo">para {{contrato.evento.aforo}} personas</span>
            </div>
            <div class="evento-contenido-4">
              <h3>cancelación con anticipación.</h3>
              <a [routerLink]="['/detalle-eventos', anfitrion.id, contrato.evento.id]">Más información.</a>
            </div>
          </li>
        }
      } @else {
        <h1 class="text">¡Aún no tienes eventos en curso!</h1>
      }
    </ul>
    @if (contratoEvento && contratoEvento.length > 0){
      <div class="eventos-navegacion">
        <img ngSrc="/assets/Rectangle%2030.png" width="10" height="816" class="barra-1">
        <img ngSrc="/assets/Rectangle%2031.png" width="6" height="64" class="barra-2" [style.top.px]="scrollPosition" (mousedown)="onBarraMouseDown($event)">
      </div>
    }
  </div>
</section>
  @if (mostrarCerrarSesion) {
    <section class="cerrar-sesion">
      <div class="overlay-cerrar-sesion"></div>
      <div class="cerrar-sesion-container" (click)="$event.stopPropagation()">
        <h1>Cerrar Sesión</h1>
        <h3>¿Estas seguro de cerrar tu sesión?</h3>
        <div class="cerrar-sesion-container-botones" (click)="cerrarSesion()">
          <button class="boton-si" (click)="confirmarCerrarSesion($event)"><a [routerLink]="['/']">Sí</a></button>
          <button class="boton-no" (click)="cancelarCerrarSesion($event)">No</button>
        </div>
      </div>
    </section>
  }
<section class="IA">

</section>
</body>

